<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>

  <connectionStrings>
    <add name="FTPHost" connectionString="ftp://edallonby.co.uk" />
    <add name="FTPUsername" connectionString="Enter-Username-For-FTP" />
    <add name="FTPPassword" connectionString="Enter-Password-For-FTP" />
    <add name="DefaultIPAddress" connectionString="127.0.0.1" />
    <add name="DefaultPort" connectionString="5004" />
  </connectionStrings>
</configuration>