<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>

  <connectionStrings>
    <add name="DatabaseConnectionString" providerName="System.Data.SqlClient"
         connectionString="Data Source=RUBIX;Initial Catalog=FinalYearProject;Integrated Security=True" />
  </connectionStrings>
</configuration>